.main-div {
  overflow: hidden;
}

/* Header */

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.img-container {
  width: 20%;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.nav-container {
  display: flex;

  width: 50%;
  padding: 10px;
}

.ul-element {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
  
}

.ul-element>li{
  border-bottom: 2px solid transparent; /* Initially transparent border */
  transition: border-color 0.3s;
}

.ul-element>li:hover {
  border-bottom-color: orange; /* Change border color to orange on hover */
}

/* Cards */

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  width: 17.5rem;
  /* height: auto; */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-img {
  /* border: 1px solid red; */
  width: 100%;
}

.card-logo {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card-info {
  width: 17.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.restroName {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin-top: -5px;
}
.rating {
  font-size: 26px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
  text-align: center;
  margin-top: -10px;
}

.card-cuisine {
  font-size: 18px;
  font-weight: 200;
  line-height: 19px;
  letter-spacing: -0.3px;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  overflow: hidden;
  white-space: nowrap; /* Prevents text from wrapping */
  text-overflow: ellipsis;
}

.card-para {
  font-size: 16px;
  font-weight: 200;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin-top: -15px;
}

.body-container {
  width: 100%;
  margin-left: 70px;
  margin-top: 20px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-evenly;
}

/*search*/
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-self: center;
  
}
.search-button {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  font-size: 25px;
  text-align: center;
}
.search > input {
  font-size: 1.15rem;
  line-height: 24px;
  width: 50%;
  height: 100%;
  border: 1px solid black;
  overflow: hidden;
  font-weight: 500;
  padding: 10px;
  border-radius: 5px;
  margin-left: 23%;
  margin-top: 25px;
  margin-bottom: 20px;
}

.shimmer-Container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  display: flex;
  flex-direction: row;
  
  width: 200px;
  height: 200px;
  background-color: #fefdfd;
  border-radius: 5px;
  box-shadow: -1px 4px 20px 14px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;

  justify-content: center;
  align-items: center;
}
