/* Header */

.main-container {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.img-container {
  width: 20%;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.nav-container {
  display: flex;
  border: 1px solid black;
  width: 50%;
  padding: 10px;
}

.ul-element {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
  justify-content: space-evenly;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
